body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main element CSS */
.main {
    margin: 0 auto;
    width: 50%;
}

.main h1 {
    color: white;
    background-color: #37507e;
    padding: 30px;
}

/* Form CSS */
#dot, #myForm i {
    color: #16bdff;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myForm label {
    padding-right: 20px;
}

#myForm input {
    border: none;
    margin-left: 15px; 
    border-radius: 10px;           
    font-size: medium;
}

#myForm input:focus {
    border: none;
    outline: none;
}

#myForm i {
    padding: 0px 20px;
}

#myForm img {
    width: 30px;
}

/* Table CSS */
#td_bordered {
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

.form-container table, .form-container button {
    display: inline-block;
    vertical-align: middle;
}

#myForm button {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    color: white;
    background-color: #37507e;
}

/* Media query for screens with a max width of 768 pixels (typical for mobiles) */
@media only screen and (max-width: 768px) {
    .main  {
        width: 90%;
    }

    #myForm i {
        padding: 20px 170px;
        transform: rotate(90deg);
    }
}

/* Media query for screens with a minimum width of 768 pixels and a maximum of 1023 pixels (typical for tablets) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main {
        width: 100%;
    }
}